<form [formGroup]="productForm" (ngSubmit)="confirmOrder()" class="product-form">
  <mat-form-field appearance="outline">
    <mat-select
      required
      placeholder="Choose your product"
      formControlName="product"
      (selectionChange)="setPrice($event)">
      @for (product of products | async; track product.id) {
        <mat-option [value]="product">
          {{ product.name }}
        </mat-option>
      }
    </mat-select>

    @if (productForm.get('product')?.hasError('required')) {
      <mat-error>
        Product is required
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Insert your coins</mat-label>
    <input
      matInput
      type="text"
      formControlName="coins"
      currencyBGN
      required />

    @if (productForm.get('coins')?.hasError('required')) {
      <mat-error>
        Amount is required
      </mat-error>
    }


    @if (productForm.get('coins')?.hasError('min')) {
      <mat-error>
        Amount must be greater than 0
      </mat-error>
    }
  </mat-form-field>

  <div class="actions">
    <button type="button" mat-stroked-button color="warn" (click)="cancelOrder()">
      Cancel
    </button>

    <button type="submit" mat-raised-button color="primary">
      Pay
    </button>
  </div>
</form>
