.cdk-overlay-pane .mat-mdc-select-panel {
  background-color: #ffffff !important;
  opacity: 1 !important;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
